target/
.idea/
.bsp/
node_modules/
/bin/
.project
.classpath
.settings/
.cache-main
*.log
*.sjsir
*.class
/quizleague.iml
firebase.json
firestore.indexes.json
firestore.rules

/.firebaserc
/server/*.js
/server/*.js.map
/server/built/*
/deploy/quizleague.jar
/deploy/app.yaml
/.idea/
/.idea/*
/project/metals.sbt
/project/project/.bloop/bloop.settings.json
/.bloop/bloop.settings.json
/project/.bloop/bloop.settings.json
/.metals/metals.lock.db
/.metals/metals.mv.db
/project/project/project/metals.sbt
/project/project/metals.sbt
/.bloop/quizleague-node.json
/project/.bloop/quizleague-node-build.json
/project/project/.bloop/quizleague-node-build-build.json
/.bloop/quizleague-node-test.json
/.bloop/server.json
/.bloop/server-test.json
/.vscode/settings.json
/.bloop/shared.json
/.bloop/shared-test.json
/.vscode/
/.idea/
/.metals/
/.bloop/
/server/app.yaml
/server/connections/
/project/.bloop/
