target/
.idea/
node_modules/
/bin/
.project
.classpath
.settings/
.cache-main
*.log
*.sjsir
*.class
/quizleague.iml
firebase.json
firestore.indexes.json
firestore.rules

/.firebaserc
/jvm/src/main/resources/webapp/quizleague-opt.js
/jvm/src/main/resources/webapp/quizleague.js
/jvm/src/main/resources/webapp/quizleague.js.map
/deploy/quizleague.jar
/deploy/app.yaml
